/* Hide the filename title at the top of pages
 *.page-title {
 * display: none !important;
 *}
 */
/* Stop single-click from entering edit mode */
.block-content {
  pointer-events: none;
}

.block-control {
  pointer-events: auto; /* keep bullets clickable */
}
